.interface {
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 64px;
    height: 165px;

    .rotation {
        position: relative;
        background: #e0e0e0;
        border: 1px solid #a7a7a7;

        &.rotationX {
            width: 10px;

            .slider {
                width: 23px;
                height: 10px;
                left: -7px;
            }
        }

        .slider {
            cursor: pointer;
            position: absolute;
            background: #e3efff;
            border: 1px solid #a7a7a7;
        }
    }
}